.idea/
.gradle/
.gradletask*
*.iml
*.ipr
*.iws
.project
.classpath
.settings/
target/
logs/
bin/
build/
out/
*/*.class
*/**/*.class
.metadata/
classes/
/catalina.base_IS_UNDEFINED/
/.checkstyle
src/generated/
/.eclipse-pmd
